<div class="sign-in-container">
  <h1>Sign In</h1>
  <form (ngSubmit)="handleSignIn()">
    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" [(ngModel)]="username" name="username" id="username" required />
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" required />
    </div>
    <button type="submit">Sign In</button>
  </form>
  <a routerLink="/Register" class="register-link">Don't Have an Account? Sign up</a>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
